
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
    background-color: #222f3e;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: #c8d6e5;
    margin: 2rem;
}